In [1]:
import numpy as np
import pandas as pd

In [2]:
print(np.random.randn(10))
type(np.random.randn(10))

[-0.14702491  1.55519609 -0.25055076 -0.49892503  1.36842614 -2.4942014
 -0.73495272  1.61754892 -0.15292775  0.09235882]

numpy.ndarray

In [3]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s

a   -1.294687
b   -1.347744
c    0.677056
d   -0.235394
e    0.669274
dtype: float64

In [4]:
d = [1,0,2]
print(pd.Series(d, index=["b","a","c"]))

d = {"b": 1, "a": 0, "c": 2}
print(pd.Series(d))

d = {"b": [1], "a": [0], "c": [2]}
print(pd.DataFrame(d))

b    1
a    0
c    2
dtype: int64
b    1
a    0
c    2
dtype: int64
   b  a  c
0  1  0  2

이제 pandas의 강력하고 중요한 기능이다. 새로 생성할 표(데이터프레임)에 대해 기존의 데이터로부터 자동으로 vlookup기능을 해준다.

In [5]:
d = {"a": 0.0, "b": 1.0, "c": 2.0}
print(pd.Series(d))

df = pd.Series(d, index=["b", "c","d","a"])
print(pd.Series(d, index=["b", "c", "d", "a"]))

a    0.0
b    1.0
c    2.0
dtype: float64
b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [6]:
df[[2,1]] # 시리즈는 이렇게 다루기가 쉽다.

d    NaN
c    2.0
dtype: float64

In [7]:
df[df > 1]

c    2.0
dtype: float64

In [18]:
df

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [9]:
df.to_numpy()

array([ 1.,  2., nan,  0.])

In [10]:
"e" in df

False

In [11]:
df*3

b    3.0
c    6.0
d    NaN
a    0.0
dtype: float64

In [12]:
df[df>df.mean()]

c    2.0
dtype: float64

In [22]:
df.dropna(inplace=True)

특이한건, df.dropna만 하면 그냥 첫번째 요소가 나가 떨어진다.. 주의하자. 이유 찾는데 10분 넘게 걸렸다.

In [23]:
# df = df[1:]+df[:-1]
df

b    1.0
c    2.0
a    0.0
dtype: float64

In [15]:
df.dropna

<bound method Series.dropna of b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64>